$size: 500px;
$rotation: 45deg;
$speed: 2000ms;
$borderSize: 3px;
$borderColor: #555;

.lotus {
  width: $size;
  height: $size;
  border: $borderSize solid $borderColor;
  margin: 40px;
  position: relative;
}

.lotus > div {
  width: $size / 2;
  height: $size / 2;
  border: $borderSize solid $borderColor;
  border-radius: 0 50% 50% 50%;
  position: absolute;
  left: $size / 10;
  top: $size / 4;
  transform-origin: $size / 2 * (4/5) $size / 2 * (4/5);
  transform: rotate(45deg);
  animation-duration: $speed;
  animation-fill-mode: forwards;
}

@for $i from 0 through 5 {
  .lotus > div:nth-child(#{$i}) {
    animation-name: petal-#{$i};
    background-color: hsla($i*60-60, 100%, 50%, 0.2);
  }

  @keyframes petal-#{$i} {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate($i * 45deg - 90deg);
    } 
  }
}